.git
.gitignore
.dockerignore
Dockerfile

target
backend/target
*.log
logs

.idea
.vscode
*.iml

.agents
.codex
.openai

docker-compose.yml
README.md
docs

node_modules
npm-debug.log

src/test
backend/src/test
